.areaBotao {
  width: 100%;
  margin-top: 100px;
}

.botaoVoltar {
  font-family: 'Inter', sans-serif;
  padding: 20px;
  text-decoration: none;
  border-radius: 1rem;
  background-color: #f7df1e;
  color: #000;
  font-weight: 700;
  opacity: 0.8;
  transition: opacity 500ms ease-in-out;

  &:hover{
    opacity: 1;
  }
}
