.container {
    width: 80%;
    margin: 1rem auto;
  
    h2 {
      font-size: 3rem;
      font-family: "Inter", sans-serif;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.5rem;
      font-family: "Roboto", sans-serif;
      width: 80%;
      text-align: justify;
      margin: 2rem auto;
    }
  
    .guiaNode {
      margin-top: 5rem;
      font-size: 2rem;
      font-family: "Inter", sans-serif;
      text-decoration: none;
      color: #fff;
      transition: all 500ms ease-in-out;
  
      &:hover {
        padding: 1rem;
        background: #68a063;
        border-radius: 1rem;
      }
  
      &:visited {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  